<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>
                <i class="fas fa-map-marker-alt"></i>
                <a href="https://maps.app.goo.gl/PDdN2PS78Y2JmyKr7" target="_blank">  Tantra, Nsawam Road, Accra, Ghana adjacent the GCB Tantra branch</a>
            </p>
            <p>
                <i class="fas fa-phone"></i>
                <a href="tel:+32466202466">+32 466 20 24 66</a>
            </p>
            <p>
                <i class="fas fa-phone"></i>
                <a href="tel:+233503569643">+233 50 356 9643</a>
            </p>
            <p>
                <i class="fas fa-phone"></i>
                <a href="tel:+233546429540">+233 54 642 9540</a>
            </p>
            <p>
                <i class="fas fa-envelope"></i>
                <a href="mailto:euroafrica.agri@outlook.com">euroafrica.agri@outlook.com</a>
            </p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/link 1">Link 1</a></li>
                <li><a href="/link 2">Link 2</a></li>
                <li><a href="/link 3">Link 3</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Connect With Us</h4>
            <div class="social-links">
                <a href="https://web.facebook.com/" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; <span id="date"></span> EuroAfrica . All Rights Reserved. <a href="mailto:manuelviotor@gmail.com" target="_blank">Contact the developers</a></p>
    </div>
</footer>
<script src="/js/script.js"></script>