<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <section class="hero-section">
            <div class="hero-content">
                <h2>About EuroAfrica</h2>
                <p>Our history, mission, and progress</p>
            </div>
        </section>

        <section class="content content1">
            <div class="image" role="img" aria-label="Church history image"></div>
            <div class="content-text">
                <h3>Our History</h3>
                <p>
                    EuroAfrica Agripartners is a leading supplier of high-quality European vegetable seeds to farmers and agribusinesses across Africa. Our company was founded in 2010 by a team of agricultural experts who recognized the need for improved access to superior seed varieties on the continent. Since then, we have worked tirelessly to build strong relationships with local farmers and provide them with the tools and resources they need to succeed.
                </p>
            </div>
        </section>

        <section class="content content2">
            <div class="content-text">
                <h3>Our Mission</h3>
                <p>
                    At EuroAfrica Agripartners, our mission is to empower local farmers and agribusinesses across Africa by providing access to high-quality European vegetable seeds that are tailored to meet the unique agricultural conditions and market demands of the continent. We recognize the vital role that sustainable and productive farming plays in enhancing food security and improving livelihoods in our communities.
                </p>
            </div>
            <div class="image-2" role="img" aria-label="mission image"></div>
        </section>

        <section class="content content3">
            <div class="image" role="img" aria-label="staff image"></div>
            <div class="content-text">
                <h3>Our Pioneers</h3>
                <div class="staff-member">
                    <h4>Position</h4>
                    <p>Name</p>
                </div>
                <div class="staff-member">
                    <h4>Position</h4>
                    <p>Name</p>
                </div>
                <!-- Add more staff members as needed -->
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="script.js"></script>
</body>
</html> 