<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <main class="container">
        <section class="hero-section">
            <div class="hero-content">
                <h2>Our Services</h2>
                <p>Our servics and what we can offer you</p>
            </div>
        </section>

        <section class="quick-links">
            <div class="quick-link-item">
                <i class=""></i>
                <h3>Seeds</h3>
                <p>A wide variety of seeds, suitable for your needs</p>
            </div>
            
            <div class="quick-link-item">
                <i class=""></i>
                <h3>Seeds</h3>
                <p>A wide variety of seeds, suitable for your needs</p>
            </div>
            
            <div class="quick-link-item">
                <i class=""></i>
                <h3>Seeds</h3>
                <p>A wide variety of seeds, suitable for your needs</p>
            </div>
        </section>

        <section class="content content1">
            <h3>Servics</h3>
            <div class="services-grid">
                <div class="service-item">
                    <h4>Area of expertise</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione illum cumque ea id minus amet. Aspernatur blanditiis non temporibus mollitia.</p>
                </div>
                <div class="service-item">
                    <h4>Area of expertise</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione illum cumque ea id minus amet. Aspernatur blanditiis non temporibus mollitia.</p>
                </div>
                <!-- Add more services as needed -->
            </div>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
    <script src="script.js"></script>
</body>
</html> 